
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root {
  --main-bg: #040b1c;
  --card-bg: #0f172a;
  --primary: #0d6efd;
  --primary-light: #3b82f6;
  --text: #e5e7eb;
  --text-light: #9ca3af;
  --border: #1f2937;
}
body {
  overflow-x: hidden;
}
body{
    font-family: 'Poppins', sans-serif;
}

.project-page {
    width: 70% !important;
    margin: auto !important;
}
h1.color-blue {
    text-align: center;
}


*{
  box-sizing: border-box;
}
img {
  max-width: 100%;
}


































/* .tech-stack span {
  display: inline-block;
  background: #eee;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 20px;
} */





















